* {
  box-sizing: border-box;
}

body {
  background-color: #f7f3ef;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 375px;
  position: relative;
  height: 600px;
  border-radius: 15px;
  outline: 4px solid orange;
  background-color: #000000;
}

.header {
  padding: 10px;
  background-color: #000000;
  border-radius: 15px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__btn {
  border: none;
  background-color: #000000;
  cursor: pointer;
}

.header__icon {
  width: 20px;
  height: 20px;
}

.display {
  position: absolute;
  display: flex;
  top: 25px;
  right: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50%;
  overflow: hidden;
}

.display__hist {
  overflow-y: scroll;
}

.display__hist-calc,
.display__hist-res {
  text-align: right;
  padding: 0 15px;
  font-size: 20px;
  color: #585656;
}

.display__input[type = "text"] {
  width: 100%;
  text-align: right;
  padding: 0 15px;
  font-size: 35px;
  border: none;
  color: #ffffff;
  background-color: #000000;
  transition: 0.3s;
}

.display__input_hidden[type = "text"] {
  font-size: 20px;
  transition: 0.3s;
}

.display__input:focus {
  outline: none;
}

.display__result {
  text-align: right;
  padding: 0 15px;
  font-size: 20px;
  color: #585656;
  background-color: #000000;
  transition: 0.3s;
}

.display__result_show {
  font-size: 35px;
  color: #ffffff;
  transition: 0.3s;
}

.display__form {
  margin: 0;
}

.keyboard {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0;
}

.keyboard__btn {
  width: 75px;
  height: 35px;
  font-size: 15px;
  color: #585656;
  background-color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.keyboard_main-operation {
  font-size: 20px;
  color: orange;
}

.keyboard_number {
  font-size: 20px;
  color: #ffffff;
}

.display_toggle {
  display: none;
  margin-bottom: 30px;
}

.keyboard_toggle,
.display_toggle {
  width: 100%;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.toggle_icon {
  width: 15px;
  height: 15px;
}